<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirstRunExperienceCompletedO15</key>
	<true/>
	<key>OUIWhatsNewLastShownLink</key>
	<string>624956</string>
	<key>OverrideAccountConfigurationWindow</key>
	<true/>
	<key>kSubUIAppCompletedFirstRunSetup1507</key>
	<true/>
</dict>
</plist>
